[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-rest-framework = "*"
pymongo = "*"
pyjwt = "*"
pandas = "*"
django-cors-headers = "*"
djangorestframework = "*"
django = "*"
numpy = "*"
pymongoarrow = "*"
gunicorn = "*"
django-redis = "*"

[dev-packages]

[requires]
python_version = "3.10"
